html,body,*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    text-align: center;
    background-image: url("images/BRUH.jpg");
}
h1{
    font-size: 70px;
}
#txt{
    font-size: 30px;
}
.top{
    background-color: rgba(248,209,56,255);
}
.line-text{
    font-size: 30px
}
input{
    height: 25px;
    width: 300px;
    margin-bottom: 15px;
}
.container{
    display: flex;
    width: 100%;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.card{
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 24%;
    height: auto;
}













/* #213738
#f14848 */