html,body,*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    text-align: center;
    background-image: url("images/BRUH.jpg");
}
h1{
    font-size: 70px;
}
#txt{
    font-size: 30px;
}
.top{
    background-color: rgba(248,209,56,255);
}
.line-text{
    font-size: 30px
}
input{
    height: 25px;
    width: 300px;
    margin-bottom: 15px;
}













/* #213738
#f14848 */